@{
    ViewBag.Title = "About";
}


<br />

<div class="row">
    <div class="col-md-2">
        <img class="img-shadow" src="~/Image/TV/@ViewBag.ID/poster.jpg" alt="">
    </div>
    <div class="col-md-6">
        <a class="textTitle">@ViewBag.Name.ToString().TrimEnd()</a><br />
        <a class="textCat">@ViewBag.Cat.ToString().TrimEnd()</a><br />
        <div class="TvShowTable scrollbar" id="ex4">
            <table class="table table-condensed" id="data">
                <tr>
                    <td>
                        Season
                    </td>
                    <td>
                        Episode
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Air Date
                    </td>
                    <td>
                        Watched?
                    </td>
                </tr>
                @{
                    foreach (var item in ViewBag.EpisodeList)
                    {
                        string idep = @item.IdEpisode.ToString().TrimEnd();
                        string link = "~/Image/TV/" + ViewBag.ID + "/" + item.IdEpisode + ".jpg";
                        string se = idep.Substring(0, idep.IndexOf('E'));
                        string ep = idep.Substring(idep.IndexOf('E'));

                        <tr id="@item.IdEpisode.ToString().TrimEnd()">
                            <td>
                                @se
                            </td>
                            <td>
                                @ep
                            </td>
                            <td>
                                @item.EpisodesTitle
                            </td>
                            <td>
                                @item.EpisodesAir
                            </td>
                            <td>
                                <img class="image-eye" src="http://i.imgur.com/TpIciYA.png" alt="eye">
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
              
    </div>

    <div id="despanel" class="col-md-4 info hidden">
        <br />
        <a id="title" class="textTitleDes">-Loading ...-</a>
        <br />
        <br />
        <img id="pic" class="iamge-des" src="https://placehold.it/200x112" alt="eye">
        <br />
        <br />
        <p id="des">-Loading ...-</p>


        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Magnet link 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @*Dodac dane torrentow do drop downa tak jak opis odcinka itp \/*@
@{

    foreach (var item in ViewBag.TorrentList )
    {
       
        <li id="@item.IdEpisode.ToString().TrimEnd()" class =""><a href="#">@item.Nazwa.ToString().TrimEnd() <span>@item.Rozmiar.ToString().TrimEnd() </span> <span>@item.Format.ToString().TrimEnd()</span><span>@item.Seed.ToString().TrimEnd()</span><span>@item.Peer.ToString().TrimEnd()</span></a></li> 
    }


}
    </ul>
        </div>
    </div>
</div>

<script>


    $(function () {
        $("#speed").selectmenu();

    });


    $('#data tr').click(function (e) {


        $('#data tr').removeClass('highlighted');
        $(this).addClass('highlighted');
        id = $(this).attr('id');


        switch (id) {

            @{

                foreach (var item in ViewBag.EpisodeList)
                {
                    string a1 = "case \""+item.IdEpisode.ToString().TrimEnd()+"\":";
                    string a2 = " $('#title').text('" + item.EpisodesTitle.ToString().TrimEnd().Replace("'", "\"") + "');";
                    string a3 = "$('#des').text('"+item.EpisodesDescriptions.ToString().TrimEnd().Replace("'", "\"") + "');";
                    string a4 = " $('#despanel').removeClass('hidden');";
                    string a5 = "  $('#pic').attr('src', '/Image/TV/"+ViewBag.ID+"/"+item.IdEpisode.ToString().TrimEnd() + ".jpg');";
                    string a6 = " break;";
                    string next = "\n";
                    @Html.Raw( @a1)
                    @next
                    @Html.Raw(@a2)
                    @next
                    @Html.Raw(@a3)
                    @next
                    @Html.Raw(@a4)
                    @next
                    @Html.Raw(@a5)
                    @next
                    @Html.Raw(@a6)
                    @next
                }
            }


        }


    });


    $('.TvShowTable').on("click", "a,img", function(e) {

        if ($(this).hasClass("image-eye")) {
            $(this).removeClass("image-eye").addClass("image-eye-clicked");
        } else {
            $(this).removeClass("image-eye-clicked").addClass("image-eye");
        }

    });
   
    
    //$('#data tr').click(function (e) {

    //    //pobra id z li
    //    var id1 = $(this).closest('tr').attr('id');

     
       
    //    alert("--" + "--" + id1 + "--" );
      
    //    $("li").each(function (index) {
           
    //        if ($(this).attr("id") == id1) {
    //            $(this).removeClass("hide");
    //        } else {
    //            $(this).addClass("hide");
    //        }
           
    //    });
       
    //    });
   


</script>